# See https://help.github.com/ignore-files/ for more about ignoring files.

# Global ignoring
.DS_Store
node_modules
dist
test-output.*
.turbo
.cache
.parcel-cache
.build-storybook
.env
.eslintcache

# Yarn 2 build artifacts
### yarn ###
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored

.yarn/*
!.yarn/releases
!.yarn/patches
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# if you are NOT using Zero-installs, then:
# comment the following lines
.yarn/cache

# and uncomment the following lines
.pnp.*

# Coverage directory used by tools like istanbul
coverage

# Testing
cypress/videos
cypress/screenshots

# Editor-specific
.vscode
.idea

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yalc.lock

# So devs can maintain their own todo lists in the project
TODO.md
