@import "@nimbus-ds/tokens/dist/css/variables.css";

.darkClass .docs-story,
.darkClass .sbdocs-wrapper {
  background: var(--color-sys-dark-neutral-surface);
}

.darkClass .sbdocs-preview {
  background: var(--color-sys-dark-neutral-background);
  box-shadow: var(--shadow-dark-card);
  border: 1px solid var(--color-sys-dark-neutral-surface-highlight);
}

.darkClass .sbdocs-title,
.darkClass .sbdocs-h2,
.darkClass .sbdocs-h3,
.darkClass .docblock-code-toggle {
  color: #ffffff;
}

.darkClass .os-content {
  background: var(--color-sys-dark-neutral-surface);
  border-bottom: 1px solid var(--color-sys-dark-neutral-surface-highlight);
}

.darkClass .os-content pre {
  background: rgb(178 178 178) !important;
}

.darkClass .docblock-code-toggle {
  color: #ffffff;
  background: var(--color-sys-dark-neutral-surface);
  border-top: 1px solid var(--color-sys-dark-neutral-surface-highlight);
  border-left: 1px solid var(--color-sys-dark-neutral-surface-highlight);
  border-radius: 0px 0 0 0;
}

.darkClass .docblock-argstable thead th span {
  color: rgb(145 145 145);
}

.darkClass .docblock-argstable tbody td {
  background: rgb(178 178 178) !important;
}

.darkClass #panel-tab-content {
  background: transparent;
}
